/node_modules
/public/hot
/public/.user.ini
/public/storage
/public/.htaccess
/storage/*.key
/public/nginx.htaccess
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
